*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --side-spacing: 1rem;
}

body {
    font-family: 'Smythe', cursive;
    margin: 0;
    user-select: none;
}

.header {
    padding: var(--side-spacing);
    display: flex;
    align-items: center;
    color: whitesmoke;

    background: url("./restaurant-ordering-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* #########
TYPOGRAPHY START
######### */

.header-text>*{
    margin: 0;
}

.header-text>h1 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.header-text>p {
    margin-top: 0.5rem;
    font-size: 1.5rem;
    text-shadow: 0 0 10px black;
}

.menu {
    font-size: 3rem;
}

/* #########
TYPOGRAPHY END
######### */

.menu-item {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 0 var(--side-spacing);
    padding: var(--side-spacing) 0;
    border-bottom: 1px solid lightgray;
}


.menu-item-info-title {
    font-size: 2rem;
}

.menu-item-info-ingredients {
    font-size: 1.2rem;
    line-height: 1.2rem;
    color: #8B8B8B;
    margin: 10px 0;
}

.menu-item-info-price {
    font-size: 1.5rem;
}

.item-quantity {
    font-size: 1.2rem;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    font-family: 'Inter', sans-serif;

}

.item-num {
    min-width: 2rem;
    text-align: center;
}

.cart-item-quantity {
    min-width: 1rem;
}

.item-btn {
    width: 2.5rem;
    height: 2.5rem;
    border: 1px solid lightgray;
    border-radius: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 200;
    font-size: 1rem;

    cursor: pointer;
}

.checkout {
    padding: 0 var(--side-spacing);
}

.checkout>h2 {
    text-align: center;
}

.cart-items {
    padding-bottom: 1.5rem;
    border-bottom: 3px solid black;
}

.cart-item {
    display: flex;
    gap: 10px;
    padding: 0.3rem 0;
    align-items: baseline;
}

.cart-item-name,
.checkout-title {
    font-size: 2rem;
}

.remove-cart-item {
    font-size: 1rem;
    color: #BBBBBB;
    cursor: pointer;
}

.cart-item-total-price,
.checkout-total-price {
    margin-left: auto;
    font-size: 1.5rem;
}

.total-price {
    padding: 1rem 0;
    display: flex;
}

.checkout-button,
.pay-button {
    display: block;
    width: 100%;
    margin-bottom: 2.5rem;
    width: 100%;
    height: 3rem;


    background: #16DB99;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border: none;
    border-radius: 3px;

    font-weight: 700;
    font-size: 16px;
    line-height: 24px;

    cursor: pointer;
    color: #FFFFFF;

    max-width: 100%;
}

.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.payment-details {
    width: 100%;

    position: fixed;

    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background: #ECFDF5;

    display: none;
    justify-content: center;
    align-items: center;
}


.payment-details-total {
    font-size: 3rem;
}

.payment-details form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 10px;
}

.payment-details input {
    display: block;
    width: 90%;
    padding: 0.5rem;

    border: 1.29664px solid #757575;
    border-radius: 3.88991px;

    font-size: 1.5rem;
    text-indent: 1rem;
}

.pay-button {
    width: 90%;
    height: 4rem;
    margin-bottom: 0;
}

.cancel-button {
    border: none;
    background-color: transparent;
    color: red;
}

.thank-you-message {
    width: 100%;
    height: 100%;

    padding: 1rem;

    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;

    font-size: 2rem;
}

@media screen and (min-width: 500px) {
    body {
        display: flex;
        height: 100vh;
    }
    #root {
        margin: auto;
        min-width: 500px;
    }
    .item-quantity {
        flex-direction: row;
    }
    .payment-details {
        min-width: 500px;
        width: 50%;
    }
    .payment-details input {
        display: block;
        width: 90%;
        font-size: 1.5rem;
    }
}